.about {
  background-color: #291438;
  position: relative;
}

.about .intro {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("/img/Simple Shiny.svg") no-repeat center;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 12%;
  padding-top: 20vh;
  top: 50%;
  font-family: Hardigan;
  color: white;
  z-index: 100;
}

.about .intro h1 {
  font-size: 5rem;
}

.about .intro p {
  margin-top: -4vh;
  font-size: 1.25rem;
}

.about .intro p .yel {
  color: #ffbb00;
}

.about .intro .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45vw;
}

.about .intro .btn {
  font-family: Hardigan;
  letter-spacing: 1px;
  font-size: 20px;
  color: #683676;
  background-color: #ffbb00;
  padding: 10px 30px;
  -webkit-box-shadow: #291438 2px 2px 5px;
          box-shadow: #291438 2px 2px 5px;
  border: solid 2px transparent;
  border-radius: 50px;
  -webkit-transition: 300ms;
  transition: 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-right: 50px;
}

.about .intro .btn:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  padding: 10px 50px;
  background-color: #fff;
  color: #7f2b5e;
  border: solid 2px #7f2b5e;
  margin-right: 10px;
}

.about .about-border {
  position: relative;
  left: 10%;
  right: 10%;
  top: 18vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Hardigan;
  color: white;
  height: 100vh;
}

.about .about-border .about-infomation {
  position: relative;
  width: 40vw;
}

.about .about-border .about-infomation h1 {
  text-shadow: 2px 2px 5px black;
  top: 0;
}

.about .about-border .about-infomation .paragraphs {
  position: relative;
  padding: 2% 3%;
  border: 7px solid #7f2b5e;
  -webkit-box-shadow: 0 0 5px #d3a3c8, 0 0 11px #d3a3c8, 0 0 17px #7f2b5e, 0 0 23px #7f2b5e, 0 0 29px #683676;
          box-shadow: 0 0 5px #d3a3c8, 0 0 11px #d3a3c8, 0 0 17px #7f2b5e, 0 0 23px #7f2b5e, 0 0 29px #683676;
}

.about .about-border .about-infomation .paragraphs #mrak {
  position: absolute;
  width: 25vw;
  right: -12vw;
  bottom: -18vh;
  -webkit-filter: drop-shadow(0 0 3px #d3a3c8) drop-shadow(0 0 7px #7f2b5e) drop-shadow(0 0 13px #683676);
          filter: drop-shadow(0 0 3px #d3a3c8) drop-shadow(0 0 7px #7f2b5e) drop-shadow(0 0 13px #683676);
  -webkit-animation: flicker 8s  linear infinite;
          animation: flicker 8s  linear infinite;
}

.about .about-border .about-infomation .programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.about .about-border .about-infomation .programs img {
  width: 3vw;
}

.about .about-border .about-infomation .programs .icon {
  width: 5vw;
  height: 8.75vh;
  background-color: #683676;
  margin-right: 1vw;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 5px #0b060c;
          box-shadow: 2px 2px 5px #0b060c;
  z-index: 100;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.about .about-border .about-infomation .programs .icon:hover {
  -webkit-box-shadow: 0 0 5px #d3a3c8, 0 0 11px #d3a3c8, 0 0 17px #7f2b5e, 0 0 23px #7f2b5e, 0 0 29px #683676;
          box-shadow: 0 0 5px #d3a3c8, 0 0 11px #d3a3c8, 0 0 17px #7f2b5e, 0 0 23px #7f2b5e, 0 0 29px #683676;
}

.about .about-border .img-head {
  position: relative;
  width: 30vw;
  text-align: right;
  margin-left: 5vw;
}

.about .about-border #hlava {
  position: absolute;
  width: 25vw;
  right: -5vw;
  -webkit-filter: drop-shadow(0px 0px 4px #0b060c);
          filter: drop-shadow(0px 0px 4px #0b060c);
  will-change: filter;
  -webkit-transition: -webkit-filter .2s ease-out;
  transition: -webkit-filter .2s ease-out;
  transition: filter .2s ease-out;
  transition: filter .2s ease-out, -webkit-filter .2s ease-out;
}

.about .about-border #hlava:hover {
  -webkit-filter: drop-shadow(0px 0px 9px #0b060c);
          filter: drop-shadow(0px 0px 9px #0b060c);
}

.about .about-border #policetape {
  position: absolute;
  width: 70vw;
  top: 0vh;
  right: -20vw;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-filter: drop-shadow(0px 0px 9px #0b060c);
          filter: drop-shadow(0px 0px 9px #0b060c);
}

.about .skill {
  position: relative;
  left: 0;
  right: 0;
  background-color: #683676;
  height: 102vh;
  text-align: center;
  color: white;
  font-family: Hardigan;
}

.about .skill h1 {
  font-size: 1.75rem;
  letter-spacing: 2px;
}

.about .skill h2 {
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.about .skill .pyramid {
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(270deg) rotateX(60deg) rotateZ(50deg);
          transform: rotateY(270deg) rotateX(60deg) rotateZ(50deg);
}

.about .skill .pyramid .side {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0.7;
  border: 100px solid transparent;
  border-bottom: 200px solid #7f2b5e;
  border-top: 0px;
}

.about .skill .pyramid .one {
  -webkit-transform: rotateX(30deg);
          transform: rotateX(30deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.about .skill .pyramid .two {
  -webkit-transform-origin: 100px 0;
          transform-origin: 100px 0;
  -webkit-transform: rotateY(90deg) rotateX(-30deg);
          transform: rotateY(90deg) rotateX(-30deg);
  border-bottom-color: #201B4E;
}

.about .skill .pyramid .three {
  -webkit-transform-origin: 100px 0;
          transform-origin: 100px 0;
  -webkit-transform: rotateY(270deg) rotateX(-30deg);
          transform: rotateY(270deg) rotateX(-30deg);
  border-bottom-color: #291438;
}

.about .skill .pyramid .four {
  -webkit-transform-origin: 100px 0;
          transform-origin: 100px 0;
  -webkit-transform: rotateY(0) rotateX(-30deg);
          transform: rotateY(0) rotateX(-30deg);
  border-bottom-color: #f6d50d;
}

.about .skill .pyramid .base {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(73px) rotateX(90deg);
          transform: translateY(73px) rotateX(90deg);
  border: 0;
  background: #683676;
}

.about .skill .pyr-sec {
  -webkit-transform: rotateY(270deg) rotateX(250deg) rotateZ(35deg);
          transform: rotateY(270deg) rotateX(250deg) rotateZ(35deg);
  right: 9vw;
  top: 56%;
}

.about .skill .pyr-frst {
  left: 5vw;
}

.about .skill .skill-border {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;
  width: 75%;
  height: 72%;
  background-color: #291438c9;
  padding: 2vh 0;
  -webkit-box-shadow: 2px 2px 5px #0b060c;
          box-shadow: 2px 2px 5px #0b060c;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.about .skill .skill-border .skill-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0vh 3vw;
}

.about .skill .skill-border .skill-flex h1 {
  font-size: 2.9rem;
  padding: 0 2vw;
}

.about .skill .skill-border .skill-flex .skill-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  row-gap: 4vh;
  padding: 6vh 3vw;
  border-left: 5px solid #7f2b5e;
}

.about .skill .skill-border .skill-flex .skill-grid .grid-cell {
  border: 5px solid #f6d50d;
  height: 15vh;
  width: 10vw;
  margin-right: 2vw;
  background-color: #201B4E;
  -webkit-box-shadow: 2px 2px 6px #0b060c;
          box-shadow: 2px 2px 6px #0b060c;
  border-radius: 7px;
  -webkit-transition: -webkit-box-shadow .5s;
  transition: -webkit-box-shadow .5s;
  transition: box-shadow .5s;
  transition: box-shadow .5s, -webkit-box-shadow .5s;
}

.about .skill .skill-border .skill-flex .skill-grid .grid-cell:hover {
  -webkit-box-shadow: 0 0 5px #d3a3c8, 0 0 11px #d3a3c8, 0 0 17px #7f2b5e, 0 0 23px #7f2b5e, 0 0 29px #683676;
          box-shadow: 0 0 5px #d3a3c8, 0 0 11px #d3a3c8, 0 0 17px #7f2b5e, 0 0 23px #7f2b5e, 0 0 29px #683676;
}
/*# sourceMappingURL=about.css.map */