$RussianVioletHex:#201B4E;
$RussianVioletRGBa:rgba(32, 27, 78, 1);
$ByzantiumHex:#7f2b5e;
$ByzantiumRGBa:rgb(162, 101, 138);
$DarkPurpleHex:#291438;
$DarkPurpleRGBa:rgba(41, 20, 56, 1);
$XiketicHex:#0b060c;
$XiketicRGBa:rgba(11, 6, 12, 1);
$MaximumPurpleHex:#683676;
$MaximumPurpleRGBa:rgba(104, 54, 118, 1);

.about{
    position:relative;
    background-color: $DarkPurpleHex;
    width:100%;
    height:295vh;
    color:aliceblue;
    font-size: 1.15rem;
    font-family: Hardigan;
    z-index: 90;
    overflow: hidden;

    .about-border{
        position:absolute;
        left:10%;
        right:10%;
        top:3%;
        display: flex;

        .about-infomation{
            position: relative;
            width:40vw;

            h1{
                text-shadow: 2px 2px 5px black;
                top:0
            }

            .paragraphs{
                position:relative;
                padding:2% 3%;
                border:7px solid $ByzantiumHex;
                box-shadow: 0 0 5px rgb(211, 163, 200),
                0 0 11px rgb(211, 163, 200),
                0 0 17px $ByzantiumHex,
                0 0 23px $ByzantiumHex,
                0 0 29px $MaximumPurpleHex;

                #mrak{
                    position:absolute;
                    width:25vw;
                    right:-9vw;
                    bottom:-16vh;
                    filter: drop-shadow(0 0 3px rgb(211, 163, 200)) 
                    drop-shadow(0 0 7px $ByzantiumHex)
                    drop-shadow(0 0 13px $MaximumPurpleHex);
                    animation: flicker 8s  linear infinite;
                }
            }

            .programs{
                display:flex;
                position:relative;
                width:100%;

                img{
                    width:3vw
                }

                .icon{
                    width:5vw;
                    height:8.75vh;
                    background-color: $MaximumPurpleHex;
                    margin-right:1vw;
                    padding:10px;
                    border-radius: 15px;
                    text-align: center;
                    box-shadow: 2px 2px 5px $XiketicHex;
                    z-index: 100;
                    transition:all 250ms;

                    &:hover{
                       box-shadow:  0 0 5px rgb(211, 163, 200),
                        0 0 11px rgb(211, 163, 200),
                        0 0 17px $ByzantiumHex,
                        0 0 23px $ByzantiumHex,
                        0 0 29px $MaximumPurpleHex;
                    }
                }
            }
        }

        .img-head{
            position:relative;
            width:30vw;
            text-align: right;
            margin-left:3vw;
            margin-top: 10vh;
        }

        
        #hlava{
            position: absolute;
            width:25vw;
            right:-5vw;
            filter:drop-shadow(0px 0px 4px $XiketicHex);
            will-change: filter;
            transition: filter .2s ease-out;

            &:hover{
                filter:drop-shadow(0px 0px 9px $XiketicHex);
            }
        }

        #policetape{
            position:absolute;
            width:70vw;
            top:0vh;
            right:-20vw;
            transform: rotate(25deg);
            filter:drop-shadow(0px 0px 9px $XiketicHex);
        }
    }

    .skill{
        position: absolute;
        top:100vh;
        left:0;
        right:0;
        background-color: $MaximumPurpleHex;
        height:95vh;
        text-align: center;
        margin-top:3vh;

        h1{
            font-size: 1.75rem;
        }
        h2{
            font-size: 1.25rem;
        }

        .pyramid {
            position: absolute;
            width: 200px;
            height: 200px;
            transform-style: preserve-3d;
            transform: rotateY(270deg) rotateX(60deg) rotateZ(50deg);

            .side {
                width: 0;
                height: 0;
                position: absolute;
                opacity: 0.7;
                border: 100px solid transparent;
                border-bottom: 200px solid $ByzantiumHex;
                border-top: 0px;
            }

            .one {
                transform: rotateX(30deg);
                transform-origin: 0 0;
            }
            .two {
                transform-origin: 100px 0;
                transform: rotateY(90deg) rotateX(-30deg);
                border-bottom-color: $RussianVioletHex;
            }
            .three {
                transform-origin: 100px 0;
                transform: rotateY(270deg) rotateX(-30deg);
                border-bottom-color: $DarkPurpleHex;
            }
            .four {
                transform-origin: 100px 0;
                transform: rotateY(0) rotateX(-30deg);
                border-bottom-color: rgb(246,213,13);
              }
              .base {
                position: absolute;
                width: 100%;
                height: 100%;
                transform: translateY(73px) rotateX(90deg);
                border: 0;
                background: $MaximumPurpleHex;
              }
          }

          .pyr-sec{
            transform: rotateY(270deg) rotateX(250deg) rotateZ(35deg);
            right:9vw;
            top:56%;
          }
          .pyr-frst{
            left:5vw;
          }

        .skill-border{
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width:75%;
            height:76%;
            background-color:#291438c9;
            padding:2vh 0;
            box-shadow: 2px 2px 5px $XiketicHex;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);

            .skill-flex{
                display:flex;
                width:100%;
                padding:0vh 3vw;

                h1{
                    font-size: 2.9rem;
                    padding:0 2vw;
                    
                }

                .skill-grid{
                    display:grid;
                    grid-template-columns: auto auto auto auto auto;
                    row-gap: 4vh;
                    padding:6vh 3vw;
                    border-left:5px solid $ByzantiumHex;

                    .grid-cell{
                        border:5px solid rgb(246,213,13);
                        height:15vh;
                        width:10vw;
                        margin-right:2vw;
                        background-color: $RussianVioletHex;
                        box-shadow: 2px 2px 6px $XiketicHex;
                        border-radius: 7px;
                        transition: box-shadow .5s;

                        &:hover{
                            box-shadow:  0 0 5px rgb(211, 163, 200),
                            0 0 11px rgb(211, 163, 200),
                            0 0 17px $ByzantiumHex,
                            0 0 23px $ByzantiumHex,
                            0 0 29px $MaximumPurpleHex,
                        }
                    }
                }
            }
        }
    }
    .price-list{
        position:absolute;
        top:195vh;
        height:100vh;
        left:0;
        right:0;
        background-color: $MaximumPurpleHex;
        text-align: center;
        padding-top:10vh;

        

        table{
            position: relative;
            margin-left: auto;
            margin-right:auto;
            background-image: url(/img/pngegg.png);
            padding:3.5% 2%;
            text-align: left;
            background-repeat: no-repeat;

            h1{
                font-size: 1.75rem;
            }

            td{
                padding:2%;
                width:8.8vw;
            }
        }
    }
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        
        filter: drop-shadow(0 0 1px rgb(211, 163, 200))
        drop-shadow(0 0 3px rgb(211, 163, 200)) 
        drop-shadow(0 0 7px $ByzantiumHex)
        drop-shadow(0 0 13px $MaximumPurpleHex);
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		filter: drop-shadow(0 0 1px rgb(211, 163, 200)) 
        drop-shadow(0 0 4px $ByzantiumHex)
        drop-shadow(0 0 7px $MaximumPurpleHex);
	}
}