$barvaPozadi:#212429;
$barvaTextu:#e0e0ff;
$sedabarva:#2b2e34;
$barvaOdliseni:#3c5c7c;
$tmavaBarvaOdliseni:#0a67c2;
$actionbarva:#08539f;
$barvamenu:#0e0f12;

.contact-border{
    width:100%;
    margin-top:25vh;
    margin-bottom:20vh;
    position:relative;
    height:auto;
}

.contact{
    position:relative;
    width:50%;
    margin:auto;
    height:100%;
    text-align:center;
    font-size: 1.2em;
    border:4px $barvaOdliseni solid;
    padding-bottom:10vh;
    box-shadow: 2px 2px 5px black;

    .contact-icons{
        position: relative;
        display:flex;
        margin:auto;
        width:40%;
        justify-content: space-between;
        padding-top:3vh;
    }

    .contact-h{
        position:relative;
        top:-3.5vh;
        height:auto;
        width:max-content;
        background-color: $barvaPozadi;
        margin:auto;
        padding-left: 1vw;
        padding-right: 1vw;
        text-shadow: 2px 2px 4px black;
    }

    .ctnct-mail::before{
        font-family: "unicons";
        content:"\e9e6";
    }
}

.hereclass{
    color:$barvaOdliseni;
    &:hover{
        text-decoration: underline;
    }
}

a:hover{
    color:$barvaOdliseni;
    transition:color .25s;
}


.linkedin-icon::before{
    font-family: "unicons";
    content:"\ec03";
    font-size:2em;

}

.dc-icon::before{
    font-family: "unicons";
    content:"\ec8f";
    font-size:2em;
}
.ig-icon::before{
    font-family: "unicons";
    content:"\ebfe";
    font-size:2em;
}
.gh-icon::before{
    font-family: "unicons";
    content:"\ec1d";
    font-size:2em;
}