$barvaPozadi:#212429;
$barvaTextu:#e0e0ff;
$sedabarva:#2b2e34;
$barvaOdliseni:#3c5c7c;
$tmavaBarvaOdliseni:#0a67c2;
$actionbarva:#08539f;
$barvamenu:#0e0f12;

.contact-border{
    width:100%;
    margin-top:15vh;
    position:relative;
    height:auto;
}

.contact{
    position:relative;
    width:25%;
    margin:auto;
    height:100%;
    text-align:justify;
}