$barvaPozadi:#212429;
$barvaTextu:#e0e0ff;
$sedabarva:#2b2e34;
$barvaOdliseni:#3c5c7c;
$tmavaBarvaOdliseni:#0a67c2;
$actionbarva:#08539f;
$barvamenu:#0e0f12;

.contact-border{
    width:100%;
    margin-top:20vh;
    margin-bottom:15vh;
    position:relative;
    height:auto;
}

.contact{
    position:relative;
    width:50%;
    margin:auto;
    height:100%;
    text-align:center;
    font-size: 1.2em;

    .contact-icons{
        position: relative;
        display:flex;
        margin:auto;
        width:40%;
        justify-content: space-between;
    }
}

.hereclass{
    color:$barvaOdliseni;
    &:hover{
        text-decoration: underline;
    }
}

a:hover{
    color:$barvaOdliseni
}


.linkedin-icon::before{
    font-family: "unicons";
    content:"\ec03";
    font-size:2em;

}

.dc-icon::before{
    font-family: "unicons";
    content:"\ec8f";
    font-size:2em;
}
.ig-icon::before{
    font-family: "unicons";
    content:"\ebfe";
    font-size:2em;
}
.gh-icon::before{
    font-family: "unicons";
    content:"\ec1d";
    font-size:2em;
}