$barvaPozadi:#212429;
$barvaTextu:#e0e0ff;
$barvaOdliseni:#5e87b0;

@import "header.scss";

body{
    background-color: $barvaPozadi;
    color:$barvaTextu;
    font-family: 'Ubuntu', sans-serif;
}

a{
    color:$barvaTextu;
    text-decoration: none;

    &:active{
        color:$barvaTextu;
    }

}



