header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 3em;
  padding-right: 3em;
  z-index: 100;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle;
  margin-bottom: 1.5em;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0e0f12;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  word-spacing: 3em;
  font-size: 1.25em;
  padding-left: 27%;
  padding-right: 17%;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .menu a:hover {
  color: #3c5c7c;
  -webkit-transition: color .25s;
  transition: color .25s;
}

header .menu .nav-underline {
  position: relative;
  padding-top: 2vh;
  padding-bottom: 10px;
}

header .menu #nav-underline1 {
  border-bottom: 4px #3c5c7c solid;
}

header .menu #nav-underline1 a {
  color: #3c5c7c;
}

header .lang {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1.5vh;
  width: 10%;
  bottom: 0px;
  text-align: right;
}

header .lang #flag {
  height: 1.75em;
  width: 1.75em;
}

header .lang #flag:hover {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px #3c5c7c;
          box-shadow: 0 0 0 3px #3c5c7c;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

header .lang .tooltip-flag {
  -webkit-transition: all 3s;
  transition: all 3s;
  display: none;
  position: absolute;
  bottom: -4.5em;
  left: 66%;
  font-size: .6em;
  padding: 1em;
  background-color: #111315;
  opacity: .75;
  font-weight: 100;
  text-align: center;
}

header .lang .tooltip-flag-show {
  display: block;
}

.introduction-border {
  position: relative;
  width: 100%;
  -webkit-box-shadow: 3px 3px 6px black;
          box-shadow: 3px 3px 6px black;
  margin: 0px;
  background: rgba(5, 6, 7, 0.4);
  padding-top: 8vh;
  padding-bottom: 8vh;
  height: 77vh;
}

.introduction-border .introduction-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.introduction-border .introduction-content .text-introduction {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.introduction-border .introduction-content .text-introduction .heading-text-introduction {
  font-size: 4em;
  text-shadow: 2px 2px 5px black;
}

.introduction-border .introduction-content .text-introduction .paragraph-text-introduction {
  font-size: 1.25em;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div {
  display: inline-block;
  text-align: left;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div .btn-coop {
  background-color: #3c5c7c;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: .15rem;
  -webkit-box-shadow: 0 1.5px 5px black;
          box-shadow: 0 1.5px 5px black;
  color: #e0e0ff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 5vh;
  margin-right: 1vw;
  position: relative;
  text-decoration: none;
  -webkit-transition: all .25s;
  transition: all .25s;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  text-shadow: .75px .75px 5px black;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div .btn-coop:hover {
  background: #0a67c2;
  cursor: pointer;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div .btn-coop:active {
  background-color: #08539f;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div #btn-disable {
  background-color: #2b2e34;
  border: 0.5px #212429 solid;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div #btn-disable:hover {
  background-color: #212429;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div #btn-disable:active {
  background-color: #181818;
}

.introduction-border .introduction-content .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1em;
  text-align: left;
}

.introduction-border .introduction-content .location #location-image {
  width: 1em;
  height: 1.4em;
  padding-top: .9em;
  padding-right: 1em;
}

.introduction-border .introduction-content .photo-introduction {
  text-align: center;
  width: 75%;
}

.introduction-border .introduction-content .photo-introduction #profile-photo {
  position: relative;
  width: 100%;
  top: 15%;
}

hr {
  margin-top: -5%;
  border: 0px;
  border-bottom: #3c5c7c solid;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

.skills-border {
  width: 70vw;
  background-color: #0e0f12;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

.skills-border .headings-skill {
  text-align: center;
  width: 100%;
  text-shadow: 2px 2px 5px black;
}

.skills-border .paragraph-skill {
  text-align: center;
  width: 100%;
  font-size: 1em;
}

.skills-border .heading {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.skills-border .grid {
  display: -ms-grid;
  display: grid;
}

body {
  background-color: #212429;
  color: #e0e0ff;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  margin: 0;
}

a {
  color: #e0e0ff;
  text-decoration: none;
}

a:active {
  color: #e0e0ff;
}

.content {
  margin-top: 7vh;
}
/*# sourceMappingURL=general.css.map */