/*  
    Hlavicka stranky (header)

    @author AnekoGur
    @version 1.0 06-04-2022
*/
header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 2em;
  z-index: 100;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  top: 0;
  left: 0;
  right: 0;
}

header .logo {
  width: 250px;
  word-spacing: 3em;
  font-size: 3em;
}

header .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  word-spacing: 3em;
  font-size: 1.25em;
  padding-left: 5em;
  padding-right: 5em;
  text-align: center;
}

header .menu a:hover {
  color: #5e87b0;
  -webkit-transition: color .25s;
  transition: color .25s;
}

header .menuOthers {
  width: 100px;
  top: 0;
  font-size: 1.25em;
  -ms-flex-item-align: right;
      align-self: right;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: center;
}

header .menuOthers .lang {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

header .menuOthers .lang #flag {
  height: 1.3em;
  width: 1.3em;
}

header .menuOthers .lang #flag:hover {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px #5e87b0;
          box-shadow: 0 0 0 3px #5e87b0;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

header .menuOthers .lang .tooltip-flag {
  -webkit-transition: all 3s;
  transition: all 3s;
  display: none;
  position: absolute;
  bottom: -3.75em;
  left: -1em;
  font-size: .6em;
  padding: .5em;
  padding-bottom: .75em;
  background-color: #111315;
  opacity: .6;
  font-weight: 100;
}

header .menuOthers .lang .tooltip-flag-show {
  display: block;
}

.wrapper {
  position: fixed;
  z-index: 101;
  top: 3em;
  right: 4em;
}

.wrapper #arrow {
  height: 1.5m;
  width: 1.5em;
}

.wrapper #arrow:hover {
  cursor: pointer;
}

.wrapper .tooltip-header {
  -webkit-transition: all 3s;
  transition: all 3s;
  display: none;
  position: absolute;
  bottom: -4.05em;
  left: -1.5em;
  font-size: .75em;
  padding: .6em;
  background-color: #111315;
  opacity: .6;
  font-weight: 100;
  text-align: center;
}

.wrapper .tooltip-header-show {
  display: block;
}

.introduction-border {
  position: relative;
  width: 100%;
  -webkit-box-shadow: 3px 3px 6px black;
          box-shadow: 3px 3px 6px black;
  margin: 0px;
  background: rgba(68, 68, 68, 0.5);
  padding-top: 2%;
  padding-bottom: 2.5%;
}

.introduction-border .introduction-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.introduction-border .introduction-content .text-introduction {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.introduction-border .introduction-content .text-introduction .heading-text-introduction {
  font-size: 4em;
  text-shadow: 2px 2px 5px black;
}

.introduction-border .introduction-content .text-introduction .paragraph-text-introduction {
  font-size: 1.25em;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  word-spacing: 5%;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.introduction-border .introduction-content .text-introduction .btn-coop {
  background-color: #446e97;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-box-shadow: 0 1.5px 5px black;
          box-shadow: 0 1.5px 5px black;
  color: #e0e0ff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 10%;
  position: relative;
  text-decoration: none;
  -webkit-transition: all .25s;
  transition: all .25s;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  text-shadow: .75px .75px 5px black;
}

.introduction-border .introduction-content .text-introduction .btn-coop:hover {
  background: #0a67c2;
  cursor: pointer;
}

.introduction-border .introduction-content .text-introduction .btn-coop:active {
  background-color: #08539f;
}

.introduction-border .introduction-content .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1em;
}

.introduction-border .introduction-content .location #location-image {
  width: 1em;
  height: 1.5em;
  padding-right: 1em;
}

.introduction-border .introduction-content .photo-introduction {
  text-align: center;
}

.introduction-border .introduction-content .photo-introduction #profile-photo {
  width: 100%;
  vertical-align: middle;
}

hr {
  margin-top: -5%;
  border-bottom: #e0e0ff solid;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

body {
  background-color: #212429;
  color: #e0e0ff;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  margin: 0;
}

a {
  color: #e0e0ff;
  text-decoration: none;
}

a:active {
  color: #e0e0ff;
}

.content {
  margin-top: 10%;
}
/*# sourceMappingURL=general.css.map */