$barvaPozadi:#212429;
$barvaTextu:#e0e0ff;
$sedabarva:#2b2e34;
$barvaOdliseni:#3c5c7c;
$tmavaBarvaOdliseni:#0a67c2;
$actionbarva:#08539f;
$barvamenu:#0e0f12;

@import "header.scss";
@import "introduction.scss";
@import "skills.scss";
@import "projects.scss";
@import "reviews.scss";
@import "contact.scss";


body{
    background-color: $barvaPozadi;
    color:$barvaTextu;
    font-family: 'Ubuntu', sans-serif;
    width:100%;
    margin:0;
    
}

a{
    color:$barvaTextu;
    text-decoration: none;

    &:active{
        color:$barvaTextu;
    }
}

.content{
    padding-bottom:5vh;
}

footer{
    position: absolute;
 text-align: center;
  width: 100%;
  height: 2.5rem; 
  padding-bottom: 7vh;
  background-color: $barvamenu;
  box-shadow: -2px -2px 5px black;

  .ftr::before{
    font-family: "unicons";
    content:"\e85a ";
  }

}

@font-face {
    font-family: "unicons";
    src: url("/fonts/unicons.ttf");
  }



