header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 3em;
  padding-right: 3em;
  z-index: 100;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle;
  margin-bottom: 1.5em;
  top: 0;
  left: 0;
  right: 0;
  background-color: #151e25;
  -webkit-box-shadow: 2px 2px 5px #0e0f12;
          box-shadow: 2px 2px 5px #0e0f12;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  word-spacing: 3em;
  font-size: 1.25em;
  padding-left: 27%;
  padding-right: 17%;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .menu a:hover {
  color: #537994;
  -webkit-transition: color .25s;
  transition: color .25s;
}

header .menu .nav-underline {
  position: relative;
  padding-top: 2vh;
  padding-bottom: 10px;
}

header .menu #nav-underline1 {
  border-bottom: 4px #537994 solid;
}

header .menu #nav-underline1 a {
  color: #537994;
}

header .lang {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1.5vh;
  width: 10%;
  bottom: 0px;
  text-align: right;
}

header .lang #flag {
  height: 1.75em;
  width: 1.75em;
  -webkit-box-shadow: inset 2px 2px 5px black;
          box-shadow: inset 2px 2px 5px black;
  border-radius: 50%;
}

header .lang #flag:hover {
  -webkit-box-shadow: 0 0 0 3px #537994;
          box-shadow: 0 0 0 3px #537994;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

header .lang .tooltip-flag {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  position: absolute;
  bottom: -4.5em;
  left: 62%;
  font-size: .6em;
  padding: 1em;
  background-color: #111315;
  opacity: 0;
  font-weight: 100;
  text-align: center;
  z-index: 200;
}

.introduction-border {
  position: relative;
  width: 100%;
  -webkit-box-shadow: 3px 3px 6px black;
          box-shadow: 3px 3px 6px black;
  margin: 0px;
  background: #2d3037;
  padding-top: 14vh;
  height: 100vh;
}

.introduction-border .introduction-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.introduction-border .introduction-content .text-introduction {
  padding: 5%;
  padding-top: 0;
  width: 55vw;
  height: 80vh;
  margin-right: 5vw;
  background-color: #2f404d;
}

.introduction-border .introduction-content .text-introduction .head-hello {
  margin-top: 5vh;
  padding: 3%;
  background-color: #283642;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.5em;
  color: #537994;
}

.introduction-border .introduction-content .text-introduction .heading-text-introduction {
  font-size: 2.5em;
  text-shadow: 2px 2px 5px black;
  width: 100%;
}

.introduction-border .introduction-content .text-introduction .heading-text-introduction .name {
  font-family: 'The Nautigal', cursive;
  font-size: 3em;
}

.introduction-border .introduction-content .text-introduction .heading-text-introduction .main-heading {
  margin-top: -1vh;
  margin-bottom: 7vh;
  padding-right: 3vw;
  text-align: right;
}

.introduction-border .introduction-content .text-introduction .paragraph-text-introduction {
  margin-top: 5vh;
  font-size: 1.2em;
  line-height: 1.5em;
  background-color: #283642;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div {
  display: inline-block;
  text-align: center;
  margin: auto;
  position: relative;
  width: 100%;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div #btn-disable {
  background-color: #292c33;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div #btn-disable:hover {
  background-color: #212429;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div #btn-disable:active {
  background-color: #181818;
}

.introduction-border .introduction-content .btn-coop {
  background-color: #537994;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: .15rem;
  -webkit-box-shadow: 0 1.5px 5px black;
          box-shadow: 0 1.5px 5px black;
  color: #e0e0ff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 5.5vh;
  position: relative;
  text-decoration: none;
  -webkit-transition: all .25s;
  transition: all .25s;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  text-shadow: .75px .75px 5px black;
}

.introduction-border .introduction-content .btn-coop:hover {
  background: #0a67c2;
  cursor: pointer;
}

.introduction-border .introduction-content .btn-coop:active {
  background-color: #08539f;
}

.introduction-border .introduction-content #download-cv {
  margin-top: 3.5vh;
}

.introduction-border .introduction-content .location {
  font-size: 1.2em;
  text-align: center;
}

.introduction-border .introduction-content .location .location-p::before {
  font-family: "unicons";
  content: "\e8ec";
}

.introduction-border .introduction-content .photo-introduction {
  text-align: center;
  width: 35vw;
  position: relative;
  height: 80vh;
}

.introduction-border .introduction-content .photo-introduction .bckground-border {
  position: absolute;
  width: 100%;
  padding: 6%;
  padding-bottom: 8%;
  background-color: #2f404d;
  height: 80vh;
}

.introduction-border .introduction-content .photo-introduction #profile-photo {
  position: relative;
  width: 100%;
  top: 2vh;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  -webkit-transition: -webkit-box-shadow .5s;
  transition: -webkit-box-shadow .5s;
  transition: box-shadow .5s;
  transition: box-shadow .5s, -webkit-box-shadow .5s;
  z-index: 20;
  margin-bottom: 5vh;
}

.introduction-border .introduction-content .photo-introduction #profile-photo:hover {
  -webkit-transition: -webkit-box-shadow .5s;
  transition: -webkit-box-shadow .5s;
  transition: box-shadow .5s;
  transition: box-shadow .5s, -webkit-box-shadow .5s;
  -webkit-box-shadow: 10px 10px 20px black;
          box-shadow: 10px 10px 20px black;
}

.zvyrazneni {
  color: #537994;
}

hr {
  margin-top: -5%;
  border: 0px;
  border-bottom: #e0e0ff solid;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

.skills-border {
  width: 70vw;
  background-color: #0e0f129f;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
  position: relative;
}

.skills-border .headings-skill {
  text-align: center;
  width: 100%;
  text-shadow: 2px 2px 5px black;
}

.skills-border .paragraph-skill {
  text-align: center;
  width: 100%;
  font-size: 1em;
}

.skills-border .skill-grid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3vw;
  padding-bottom: 3vw;
  width: 100%;
}

.skills-border .skill-grid .heading {
  position: relative;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  padding-right: 2.5vw;
  border-right: 2px #e0e0ff solid;
}

.skills-border .skill-grid .grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  row-gap: 4vh;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 4vw;
  padding-right: 4vw;
  justify-items: center;
}

.skills-border .skill-grid .grid .grid-item {
  -webkit-transition: color .3s,-webkit-box-shadow .5s;
  transition: color .3s,-webkit-box-shadow .5s;
  transition: box-shadow .5s,color .3s;
  transition: box-shadow .5s,color .3s,-webkit-box-shadow .5s;
  border-radius: 2px;
  text-align: center;
  background-color: #0e0f12;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
}

.skills-border .skill-grid .grid .grid-item:hover {
  color: #537994;
  -webkit-box-shadow: 5px 5px 6px black;
          box-shadow: 5px 5px 6px black;
}

.project-border {
  width: 100%;
  position: relative;
  margin-top: 15vh;
  border-top: 4px #537994 solid;
}

.project-border .project {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
}

.project-border .project .project-h-div {
  position: relative;
  top: -5vh;
  left: -1vw;
  margin-left: 5%;
  background-color: #212429;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 1vw;
  padding-right: 1vw;
  text-shadow: 2px 2px 4px black;
}

.project-border .project .project-block {
  display: inline-block;
  vertical-align: top;
}

.project-border .project .projects-slider {
  width: 65%;
  background-color: #212429;
  padding: 5%;
  padding-top: 0;
  padding-right: 3%;
}

.project-border .project .projects-description {
  width: 32%;
  text-align: left;
  padding-left: 1vw;
  font-size: 1em;
  font-weight: 500;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border: 5px #537994 solid;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prev:hover, .next:hover {
  background-color: #0e0f12;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #e0e0ff;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: lightslategrey;
}

.active {
  background-color: #537994;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/*
//.point::before{
  font-family: "unicons";
  font-size: .5em;
  color:$barvaOdliseni;
  top:-.3em;
  position:relative;
  content:"\ecb7";
//}*/
.reviews-border {
  width: 100%;
  position: relative;
  margin-top: 15vh;
  border-top: 4px solid #537994;
}

.rv-content {
  display: inline-block;
  vertical-align: top;
  position: relative;
  /*
    .rv-h::after{
        content: "";
        display: block;
        position: relative;
        top: -.55em;
        //width: 100%;
        height: 3.75px;
        margin-left: 8.5em;
        background-color: $barvaOdliseni;
    }
    **/
}

.rv-content .rv-h {
  position: relative;
  top: -5.5vh;
  left: -1vw;
  background-color: #212429;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 1vw;
  padding-right: 1vw;
  text-shadow: 2px 2px 4px black;
}

.reviews-view {
  width: 42vw;
  margin-top: 6vh;
}

.table {
  display: inline-block;
}

.reviews-form {
  position: relative;
  padding: 7vh;
  padding-top: 0;
  width: 43%;
  margin-left: 8vw;
}

.review {
  margin-bottom: 3.5vh;
  height: 22vh;
  border: 2px #212429 solid;
  border-left: none;
  padding: 2.5%;
  padding-top: 1%;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  background-color: #0e0f12;
  font-size: .8em;
}

.rv {
  width: 32vw;
}

.text {
  margin-top: 5vh;
}

.tb {
  color: #0e0f12;
  padding: 2%;
}

.btn-rv-sm {
  background-color: #537994;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: .15rem;
  -webkit-box-shadow: 0 1.5px 5px black;
          box-shadow: 0 1.5px 5px black;
  color: #e0e0ff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 5vh;
  margin-right: 1vw;
  position: relative;
  text-decoration: none;
  -webkit-transition: all .25s;
  transition: all .25s;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: baseline;
  width: 35vw;
  text-shadow: .75px .75px 5px black;
}

.btn-rv-sm:hover {
  background: #0a67c2;
  cursor: pointer;
}

.btn-rv-sm:active {
  background-color: #08539f;
}

.profile-p {
  width: 7vw;
  position: relative;
  top: 15%;
  margin: auto;
}

#pp {
  position: relative;
  width: 5vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.tb {
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  border: none;
  background-color: #e0e0ff;
}

.star {
  color: #537994;
  font-size: .9em;
}

#tb-name {
  width: 20vw;
  height: 5vh;
}

#tb-name::-webkit-input-placeholder {
  color: gray;
}

#tb-name:-ms-input-placeholder {
  color: gray;
}

#tb-name::-ms-input-placeholder {
  color: gray;
}

#tb-name::placeholder {
  color: gray;
}

#tb-text {
  min-width: 100%;
  min-height: 25vh;
  max-width: 100%;
  max-height: 35vh;
}

#tb-text::-webkit-input-placeholder {
  color: gray;
}

#tb-text:-ms-input-placeholder {
  color: gray;
}

#tb-text::-ms-input-placeholder {
  color: gray;
}

#tb-text::placeholder {
  color: gray;
}

.rv-form {
  margin-top: -2vh;
}

.contact-border {
  width: 100%;
  margin-top: 25vh;
  margin-bottom: 20vh;
  position: relative;
  height: auto;
}

.contact {
  position: relative;
  width: 50%;
  margin: auto;
  height: 100%;
  text-align: center;
  font-size: 1.2em;
  border: 4px #537994 solid;
  padding-bottom: 10vh;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

.contact .contact-icons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3vh;
}

.contact .contact-h {
  position: relative;
  top: -3.5vh;
  height: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #212429;
  margin: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  text-shadow: 2px 2px 4px black;
}

.contact .ctnct-mail::before {
  font-family: "unicons";
  content: "\e9e6";
}

.hereclass {
  color: #537994;
}

.hereclass:hover {
  text-decoration: underline;
}

a:hover {
  color: #537994;
  -webkit-transition: color .25s;
  transition: color .25s;
}

.linkedin-icon::before {
  font-family: "unicons";
  content: "\ec03";
  font-size: 2em;
}

.dc-icon::before {
  font-family: "unicons";
  content: "\ec8f";
  font-size: 2em;
}

.ig-icon::before {
  font-family: "unicons";
  content: "\ebfe";
  font-size: 2em;
}

.gh-icon::before {
  font-family: "unicons";
  content: "\ec1d";
  font-size: 2em;
}

body {
  background-color: #212429;
  color: #e0e0ff;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  margin: 0;
}

a {
  color: #e0e0ff;
  text-decoration: none;
}

a:active {
  color: #e0e0ff;
}

.content {
  padding-bottom: 5vh;
}

footer {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  padding-bottom: 7vh;
  background-color: #0e0f12;
  -webkit-box-shadow: -2px -2px 5px black;
          box-shadow: -2px -2px 5px black;
}

footer .ftr::before {
  font-family: "unicons";
  content: "\e85a ";
}

@font-face {
  font-family: "unicons";
  src: url("/fonts/unicons.ttf");
}
/*# sourceMappingURL=general.css.map */