$barvaPozadi:#212429;
$barvaTextu:#e0e0ff;
$sedabarva:#2b2e34;
$barvaOdliseni:#3c5c7c;
$tmavaBarvaOdliseni:#0a67c2;
$actionbarva:#08539f;
$barvamenu:#0e0f12;

header{
    position:fixed;
    display: flex;
    flex-direction: row;
    padding-left:3em;
    padding-right:3em;
   // padding-top:2vh;
   // padding-bottom:2vh;
    z-index: 100;
    align-items: middle;
    margin-bottom:1.5em;
    top:0;
    left:0;
    right:0;
    background-color: $barvamenu;

    
    .menu{
        display: flex;
        flex:1;
        word-spacing: 3em;
        font-size: 1.25em;
        padding-left:27%;
        padding-right:17%;
        text-align: center;
        
        justify-content: space-evenly;
    
        a:hover{
            color:$barvaOdliseni;
            transition: color .25s;
        }

        .nav-underline{
            position:relative;
            padding-top:2vh;
            padding-bottom: 10px; 
                   
        }
        #nav-underline1{
            border-bottom: 4px $barvaOdliseni solid;
            a{
                color:$barvaOdliseni;
            }
            
        }
    }
    
    .lang{
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        padding-top:1.5vh;
        width:10%;
        bottom:0px;
        text-align: right;

        #flag{
            height:1.75em;
            width:1.75em;

            &:hover{
                border-radius:50%;
                box-shadow: 0 0 0 3px $barvaOdliseni;
                transition: box-shadow 0.25s ease-in-out;
            }
        }

        .tooltip-flag{
            
            transition:opacity .25s; 
            position: absolute;
            bottom:-4.5em;
            left:66%;
            font-size: .6em;
            padding:1em;
            background-color: #111315;
            opacity:0;
            font-weight: 100;
            text-align: center;
            
        }

        .tooltip-flag-show{
            opacity:.75;
            //transition:opacity .75s;               
        }          
    }
}





