$RussianVioletHex:#201B4E;
$RussianVioletRGBa:rgba(32, 27, 78, 1);
$ByzantiumHex:#7f2b5e;
$ByzantiumRGBa:rgb(162, 101, 138);
$DarkPurpleHex:#291438;
$DarkPurpleRGBa:rgba(41, 20, 56, 1);
$XiketicHex:#0b060c;
$XiketicRGBa:rgba(11, 6, 12, 1);
$MaximumPurpleHex:#683676;
$MaximumPurpleRGBa:rgba(104, 54, 118, 1);

.intro{
    position:relative;
    background-image: url(/img/pawel-czerwinski-JG2DaZZzvzk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    text-align: center;

    .headers{
        position:absolute;
        left:0;
        right:0;
        top:25%;
        color:aliceblue;
        font-family: LaserCorps3D;
       
        h1{
            font-size: 5rem;
            text-shadow: 4px 4px 8px black;
        }

        h2{
            font-size: 2rem;
            font-family: Hardigan;
            text-shadow: 4px 4px 7px black;
        }

        button{
           margin-top:5vh;
           background-color:$XiketicHex;
           color:aliceblue;
           font-family:Hardigan;
           font-size:1.75rem;
           padding:2vh 2vw;
           border-radius: 11px;
           border:none;
           cursor:pointer;
           transition: box-shadow .25s;
           box-shadow: 0 0 5px rgb(211, 163, 200),
           0 0 11px $ByzantiumHex,
           0 0 17px $ByzantiumHex,
           0 0 23px $MaximumPurpleHex;


           &:hover{
            box-shadow: 0 0 3px #fff,
           0 0 8px rgb(211, 163, 200),
           0 0 12px $ByzantiumHex,
           0 0 17px $ByzantiumHex,
           0 0 23px $ByzantiumHex,
           0 0 30px $MaximumPurpleHex,
           }
            
        }
    }

    
}