$barvaPozadi:#212429;
$barvaTextu:#e0e0ff;
$sedabarva:#2b2e34;
$barvaOdliseni:#3c5c7c;
$tmavaBarvaOdliseni:#0a67c2;
$actionbarva:#08539f;

.introduction-border{
    position: relative;
    width:100%;
    box-shadow: 3px 3px 6px black;
    margin:0px;
    background: rgba(5,6,7,0.4);
    padding-top: 17vh;
    //padding-bottom: 17vh;
    height:100vh;

    .introduction-content{
        display: flex;
        flex-direction: row;
        position:relative;
        margin-left:auto;
        margin-right:auto;
        width:75%;
        
        
        
        .text-introduction{
            padding-left:5%;
            padding-right:5%;
            width:100%;
            
            .heading-text-introduction{
                font-size: 4em;
                text-shadow: 2px 2px 5px black;
            }

            .paragraph-text-introduction{
                font-size: 1.25em;
            }

            .btn-coop-div{
                display: inline-block;
                text-align: left;
                
                
                .btn-coop{
                    background-color: $barvaOdliseni;
                    padding:1em;
                    border: 1px solid transparent;
                    border-radius: .15rem;
                    box-shadow: 0 1.5px 5px black;
                    color:$barvaTextu;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.25;
                    margin-top: 5vh;
                    margin-right:1vw;
                    position: relative;
                    text-decoration: none;
                    transition:all .25s;
                    touch-action: manipulation;
                    vertical-align: baseline;
                    width: auto;
                    text-shadow: .75px .75px 5px black;
                
                    &:hover{
                        background: $tmavaBarvaOdliseni;
                        cursor: pointer;
                        
                    }
                    &:active {
                        background-color: $actionbarva;
                    }

                    
                }
       
                #btn-disable{
                    background-color: $sedabarva;
                    border:.5px $barvaPozadi solid;

                    &:hover{
                        background-color: $barvaPozadi;
                    }
                    &:active {
                        background-color: rgb(24, 24, 24);;
                        
                    }
                }
            }

        }

        .location{
            display:flex;
            flex-direction: row;
            font-size: 1em;
            text-align: left;
            

            #location-image{
                width:2.1vw;
                height:4.8vh;
                padding-top: .9em ;
                padding-right: 1em;
            }
        }
        
        .photo-introduction{
            text-align: center;
            width:75%;
        
            #profile-photo{
                position:relative;
                width: 100%;
                top:15%;
              
            }
        }
        
    }
}

hr{
    margin-top:-5%;
    border:0px;
    border-bottom: $barvaOdliseni solid;
    box-shadow: 2px 2px 5px black;
}





