$barvaPozadi:#212429;
$barvaTextu:#e0e0ff;
$barvaOdliseni:#446e97;
$tmavaBarvaOdliseni:#0a67c2;
$actionbarva:#08539f;

.introduction-border{
    position: relative;
    width:100%;
    box-shadow: 3px 3px 6px black;
    background: rgba(68, 68, 68, 0.5);
    padding-top: 2%;
    padding-bottom: 2.5%;

    .introduction-content{
        display: flex;
        flex-direction: row;
        position:relative;
        margin-left:auto;
        margin-right:auto;
        width:65%;
        
        
        .text-introduction{
            padding-left:5%;
            padding-right:5%;
            width:100%;
            
            .heading-text-introduction{
                font-size: 4em;
                text-shadow: 2px 2px 5px black;
            }

            .paragraph-text-introduction{
                font-size: 1.25em;
            }

            .btn-coop-div{
                display: flex;
                flex-direction: row;
                word-spacing: 5%;
                text-align: left;
                justify-content: space-between;
            }

            .btn-coop{
                background-color: $barvaOdliseni;
                padding:1em;
                border: 1px solid transparent;
                border-radius: .25rem;
                box-shadow: 0 1.5px 5px black;
                color:$barvaTextu;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.25;
                margin-top: 10%;
                position: relative;
                text-decoration: none;
                transition:all .25s;
                touch-action: manipulation;
                vertical-align: baseline;
                width: auto;
                text-shadow: .75px .75px 5px black;
            
                &:hover{
                    background: $tmavaBarvaOdliseni;
                    cursor: pointer;
                    
                }
                &:active {
                    background-color: $actionbarva;
            }}
        }

        .location{
            display:flex;
            flex-direction: row;
            font-size: 1em;
            

            #location-image{
                width:1em;
                height:1.5em;
                padding-right: 1em;
            }
        }
        
        .photo-introduction{
            text-align: center;
        
            #profile-photo{
                width: 100%;
                vertical-align: middle;
              
            }
        }
        
    }
}

hr{
    margin-top:-5%;
    border-bottom: $barvaTextu solid;
    box-shadow: 2px 2px 5px black;
}





