.introduction-border {
  position: relative;
  width: 100%;
  -webkit-box-shadow: 3px 3px 6px black;
          box-shadow: 3px 3px 6px black;
  margin: 0px;
  background: rgba(5, 6, 7, 0.4);
  padding-top: 17vh;
  height: 100vh;
}

.introduction-border .introduction-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.introduction-border .introduction-content .text-introduction {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.introduction-border .introduction-content .text-introduction .heading-text-introduction {
  font-size: 4em;
  text-shadow: 2px 2px 5px black;
}

.introduction-border .introduction-content .text-introduction .paragraph-text-introduction {
  font-size: 1.25em;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div {
  display: inline-block;
  text-align: left;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div .btn-coop {
  background-color: #3c5c7c;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: .15rem;
  -webkit-box-shadow: 0 1.5px 5px black;
          box-shadow: 0 1.5px 5px black;
  color: #e0e0ff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 5vh;
  margin-right: 1vw;
  position: relative;
  text-decoration: none;
  -webkit-transition: all .25s;
  transition: all .25s;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  text-shadow: .75px .75px 5px black;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div .btn-coop:hover {
  background: #0a67c2;
  cursor: pointer;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div .btn-coop:active {
  background-color: #08539f;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div #btn-disable {
  background-color: #2b2e34;
  border: 0.5px #212429 solid;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div #btn-disable:hover {
  background-color: #212429;
}

.introduction-border .introduction-content .text-introduction .btn-coop-div #btn-disable:active {
  background-color: #181818;
}

.introduction-border .introduction-content .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1em;
  text-align: left;
}

.introduction-border .introduction-content .location #location-image {
  width: 1em;
  height: 1.4em;
  padding-top: .9em;
  padding-right: 1em;
}

.introduction-border .introduction-content .photo-introduction {
  text-align: center;
  width: 75%;
}

.introduction-border .introduction-content .photo-introduction #profile-photo {
  position: relative;
  width: 100%;
  top: 15%;
}

hr {
  margin-top: -5%;
  border: 0px;
  border-bottom: #3c5c7c solid;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}
/*# sourceMappingURL=introduction.css.map */