$barvaPozadi:#2d3037;
$barvaTextu:#e0e0ff;
$sedabarva:#2b2e34;
$barvaOdliseni:#537994;
$tmavaBarvaOdliseni:#0a67c2;
$actionbarva:#08539f;
$barvaMenu:#212429;
$svetlyBlok:#2f404d;
$tmavyBlok: #283642;

.introduction-border{
    position: relative;
    width:100%;
    box-shadow: 3px 3px 6px black;
    margin:0px;
    background: $barvaPozadi;
    padding-top: 13vh;
    //padding-bottom: 17vh;
    height:100vh;

    .introduction-content{
        display: flex;
        flex-direction: row;
        position:relative;
        margin-left:auto;
        margin-right:auto;
        width:75%;
       
        
        
        .text-introduction{
            padding:5%;
            padding-top:0;
            width:55vw;
            height:80vh;
            margin-right: 5vw;
            background-color: $svetlyBlok;

            .head-hello{
                margin-top:5vh;
                padding:3%;
                background-color: $tmavyBlok;
                width:max-content;
                font-size: 1.5em;
                color:$barvaOdliseni;
            }
            
            .heading-text-introduction{
                font-size: 2.5em;
                text-shadow: 2px 2px 5px black;
                width: 100%;

                .name{
                    font-family: 'The Nautigal', cursive;
                    font-size: 3em;
                    
                    
                }

                .main-heading{
                    margin-top:-1vh;
                    margin-bottom: 7vh;
                   padding-right:3vw;
                   text-align: right;
                }
            }

            .paragraph-text-introduction{
                margin-top:5vh;
                font-size: 1.2em;
                line-height: 1.5em;
                background-color: $tmavyBlok;
                padding-top:2vh;
                padding-bottom:2vh;
                padding-right:2vw;
                padding-left:2vw;
            }

            .btn-coop-div{
                display: inline-block;
                text-align: center;
                margin:auto;
                position: relative;
                width:100%;
                
       
                #btn-disable{
                    background-color: #292c33;
                    //border:.5px $barvaPozadi solid;

                    &:hover{
                        background-color: $barvaMenu;
                    }
                    &:active {
                        background-color: rgb(24, 24, 24);;
                        
                    }
                }
            }

        }

        .btn-coop{
            background-color: $barvaOdliseni;
            padding:1em;
            border: 1px solid transparent;
            border-radius: .15rem;
            box-shadow: 0 1.5px 5px black;
            color:$barvaTextu;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.25;
            margin-top: 5.5vh;
            //margin-right:1vw;
            position: relative;
            text-decoration: none;
            transition:all .25s;
            touch-action: manipulation;
            vertical-align: baseline;
            width: auto;
            text-shadow: .75px .75px 5px black;
        
            &:hover{
                background: $tmavaBarvaOdliseni;
                cursor: pointer;
                
            }
            &:active {
                background-color: $actionbarva;
            }

            

        }
        
        #download-cv{
            margin-top:3.5vh;

        }

        .location{
            font-size: 1.2em;
            text-align: center;        

            .location-p::before{
                font-family: "unicons";
                content: "\e8ec";
                
            }
        }
        
        .photo-introduction{
            text-align: center;
            width:35vw;
            position:relative;
            height:80vh;

            .bckground-border{
                position:absolute;
                width:100%;
                padding:6%;
                padding-bottom:8%;
                background-color: $svetlyBlok;
                height:80vh;
            }
        
            #profile-photo{
                position:relative;
                width: 100%;
                margin-bottom: 2vh;
              
            }

           
        }
        
    }
}

.zvyrazneni{
    color:$barvaOdliseni;
}

hr{
    margin-top:-5%;
    border:0px;
    border-bottom: $barvaTextu solid;
    box-shadow: 2px 2px 5px black;
}





