body{
    background-color: #212429;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    color:#e0e0ff;
    /*border:2px solid #e0e0ff;*/
    height: 6em;
    width:100%;
    padding-left:3em;
    position:fixed;
    z-index: 100;
    
}

.content{
    position:relative;
    transform: translateY(15%);
}

p{
    color:#e0e0ff;
}

a{
    color:#e0e0ff;
    text-decoration: none;
}
h1{
    color:#e0e0ff;
    font-weight: bold;
}

.logo{
    float: left;
    position:relative;
    top:50%;
    transform: translateY(-51%);
    font-size: 1.5em;
    text-shadow: 2px 2px 5px black;
}
.menu{
    word-spacing: 2em;
    text-decoration: none;
    font-size: 1.25em;
    position: relative;
    top:50%;
    padding-left: 25em;
}

.menu a{
    color:#e0e0ff;
}

.menu a:active{
    color:#e0e0ff;
    text-decoration: underline;
}

.menu a:hover{
    color:#5e87b0;
}

.menuOthers{
    float:right;

}

.bottom{
    color:#e0e0ff;
    width:100%;
    padding-left: 5%;
    z-index: -10;
    
}

.introduction{
    position: relative;
    width:120%;
    margin:auto;
    box-shadow: 3px 3px 6px black;
    padding-left:25%;   
    padding-top:1em;
    padding-bottom:5%;
    left:-5%;
    background: rgba(68, 68, 68, 0.5);
}

.mainNadpis{
    color:#e0e0ff;
    font-size: 4em;
    text-shadow: 2px 2px 5px black;
}


.textIntroduction{
    width:30%
}

.profile{
    color:#e0e0ff;
    font-size: 1.25em;
}

.itsmall{
    width:90%;
    
}

.photo{
    float: right;
    transform: translateY(-100%);
    
    
}

#profilephoto{
    max-width: 35%;
    max-height: 35%;
    
}

#locationimg{
    max-width: 2.5%;
    max-height: 2%;
    float:left;
    padding-right: 2%;
    transform: translateY(-25%);
    
}

.skillz{
    box-shadow: 2px 2px 5px black;
    background: #212429;
    padding:1em;
    color:#e0e0ff;
    text-align: center;
}

.skillz:hover{
    box-shadow: 2px 2px 5px   #5e87b0;
}

.contact{
    text-align: center;
}

#link{
    height:1.5em;
    width:1.5em
}