

@import "header.scss";
@import "intro.scss";

@font-face {
    font-family: "unicons";
    src: url("/fonts/unicons.ttf");
}

@font-face {
    font-family: "LaserCorps3D";
    src: url("/fonts/laserCorps/LaserCorps3D-X3X7j.otf");
}

@font-face {
    font-family: "Hardigan";
    src: url("/fonts/Hardigan/Hardigan-Ea9pr.ttf");
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin:0;
}

footer{
    text-align: center;
    font-family: Hardigan;
    p::before{
        font-family: unicons;
        content:"\e85a";
        font-weight: bold;
    }
}