body{
    background-color: #212429;
    overflow: hidden;
}

.preloader{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: transparent; 
}

.content{
    margin:auto;
    width:19.25%;
    height:60%;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top:50%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
    color:#e0e0ff;
    font-family: 'Ubuntu', sans-serif;
}



.logoName{
    font-size: 4em;
    font-weight: bold;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; 
    text-shadow: 2px 2px 5px black;
    animation:typing 1.2s steps(20, end);
}

.ptf{
    position:relative;
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
    text-align: right;
    padding-right:17px;
    color:#5e87b0;

    animation: top .75s steps(200, end);
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    opacity: 0%;
}

.clickbtn{
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color:#e0e0ff;
    animation: opacity 1.5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.clickbtn::after{
    color:#e0e0ff;
}

.clickbtn:hover{
    color:#5e87b0;
}

@keyframes top {
    from { top: 30%; opacity:0%}
    to { top:-13%; opacity:100% }
  }

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes opacity {
    from { opacity: 0% }
    to { opacity:100% }
  }

  

