.preloader{
    position:absolute;
    width: 100%;
    height: 100%;
    
}

.content{
    margin:auto;
    width:50%;
    align-items: center;
}

.logoname{
    font-size: 5em;
    font-weight: bold;
    
}