$barvaPozadi:#212429;
$barvaTextu:#e0e0ff;
$sedabarva:#2b2e34;
$barvaOdliseni:#3c5c7c;
$tmavaBarvaOdliseni:#0a67c2;
$actionbarva:#08539f;
$barvamenu:#0e0f12;

.reviews-border{
    width:100%;
    position:relative;
    
}
.rv-content{
    display: inline-block;
    padding-top:7vh;
    vertical-align: top;
    position: relative;
}

.reviews-view{
    width:45%;
    //padding-right:4vw;
}
.table{
    display:inline-block;
}

.reviews-form{
    position: relative;
    padding:7vh;
    //border:2px white solid;
    width:50%;
    margin-left:4vw;
}

.review{
    margin-bottom:5vh;
    height:28vh;
    border:2px $barvaPozadi solid;
    border-left:none;
    padding: 3%;
    box-shadow: 2px 2px 5px black;
    background-color: $barvamenu;
}

.tb{
    color:rgb(63, 63, 63);
}

#pp{
    width:5vw;
}
