$barvaPozadi:#212429;
$barvaTextu:#e0e0ff;
$sedabarva:#2b2e34;
$barvaOdliseni:#3c5c7c;
$tmavaBarvaOdliseni:#0a67c2;
$actionbarva:#08539f;
$barvamenu:#0e0f12;

.reviews-border{
    width:100%;
    position:relative;
    margin-top:20vh;
    
}
.rv-content{
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.reviews-view{
    width:45%;
    //padding-right:4vw;
}
.table{
    display:inline-block;
}

.reviews-form{
    position: relative;
    padding:7vh;
   //padding-top:10vh;
    //border:2px white solid;
    width:49%;
    margin-left:5vw;
}

.review{
    margin-bottom:5vh;
    height:28vh;
    border:2px $barvaPozadi solid;
    border-left:none;
    padding: 3%;
    box-shadow: 2px 2px 5px black;
    background-color: $barvamenu;
}

.text{
    margin-top:5vh;
}
.tb{
    color:gray;
    padding:2%;
}

.btn-rv-sm{
    background-color: $barvaOdliseni;
                    padding:1em;
                    border: 1px solid transparent;
                    border-radius: .15rem;
                    box-shadow: 0 1.5px 5px black;
                    color:$barvaTextu;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.25;
                    margin-top: 5vh;
                    margin-right:1vw;
                    position: relative;
                    text-decoration: none;
                    transition:all .25s;
                    touch-action: manipulation;
                    vertical-align: baseline;
                    width: 35vw;
                    text-shadow: .75px .75px 5px black;
                
                    &:hover{
                        background: $tmavaBarvaOdliseni;
                        cursor: pointer;
                        
                    }
                    &:active {
                        background-color: $actionbarva;
                    }
}

#pp{
    width:5vw;
}

#tb-name{
    width:20vw;
    height:5vh;
}

#tb-text{
    min-width:35vw;
    min-height:25vh;
    max-width: 35vw;
    max-height:35vh;
}
