$barvaPozadi:#212429;
$barvaTextu:#e0e0ff;
$sedabarva:#2b2e34;
$barvaOdliseni:#3c5c7c;
$tmavaBarvaOdliseni:#0a67c2;
$actionbarva:#08539f;
$barvamenu:#0e0f12;

.reviews-border{
    width:100%;
    position:relative;
    margin-top:25vh;
    
}
.rv-content{
    display: inline-block;
    vertical-align: top;
    position: relative;

    .rv-h::after{
        content: "";
        display: block;
        position: relative;
        top: -.55em;
        width: 41.25%;
        height: 2.5px;
        margin-left: 8.5em;
        background-color: $barvaOdliseni;
    }
}

.reviews-view{
    width:45vw;
    //padding-right:4vw;
}
.table{
    display:inline-block;
}

.reviews-form{
    position: relative;
    padding:7vh;
    padding-top:2vh;
   //padding-top:10vh;
    //border:2px white solid;
    width:49%;
    margin-left:5vw;
    
}

.review{
    margin-bottom:5vh;
    height:25vh;
    border:2px $barvaPozadi solid;
    border-left:none;
    padding: 2.5%;
    box-shadow: 2px 2px 5px black;
    background-color: $barvamenu;
}

.rv{
    width:35vw;
}

.text{
    margin-top:5vh;
}
.tb{
    color:$barvamenu;
    padding:2%;
}

.btn-rv-sm{
    background-color: $barvaOdliseni;
                    padding:1em;
                    border: 1px solid transparent;
                    border-radius: .15rem;
                    box-shadow: 0 1.5px 5px black;
                    color:$barvaTextu;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.25;
                    margin-top: 5vh;
                    margin-right:1vw;
                    position: relative;
                    text-decoration: none;
                    transition:all .25s;
                    touch-action: manipulation;
                    vertical-align: baseline;
                    width: 35vw;
                    text-shadow: .75px .75px 5px black;
                
                    &:hover{
                        background: $tmavaBarvaOdliseni;
                        cursor: pointer;
                        
                    }
                    &:active {
                        background-color: $actionbarva;
                    }
}

.profile-p{
    width:7vw;
   // border:2px white solid;
    position:relative;
    top:15%;
    margin:auto;
    
}

#pp{
    position:relative;
    width:5vw;
    //border-radius: 3vw;
   // box-shadow:2px 2px 5px black;
   object-fit:cover;
  border-radius:50%;
    
}
.tb{
    box-shadow: 2px 2px 5px black;
    border:none;
    background-color: $barvaTextu;
    
}
.star{
    color:$barvaOdliseni;
    font-size: .9em;
    
}

#tb-name{
    width:20vw;
    height:5vh;
    &::placeholder{
        color:gray;;
    }
}

#tb-text{
    min-width:35vw;
    min-height:25vh;
    max-width: 35vw;
    max-height:35vh;

    &::placeholder{
        color:gray;;
    }
}

