$barvaPozadi:#212429;
$barvaTextu:#e0e0ff;
$sedabarva:#2b2e34;
$barvaOdliseni:#3c5c7c;
$tmavaBarvaOdliseni:#0a67c2;
$actionbarva:#08539f;
$barvamenu:#0e0f12;


.skills-border{
    width:70vw;
    background-color: $barvamenu;
    padding:2em;
    margin-left:auto;
    margin-right:auto;
    margin-top:15vh;
    box-shadow: 3px 3px 5px black;
    position: relative;

    .headings-skill{
        text-align: center;
        width:100%;
        text-shadow: 2px 2px 5px black;
    }

    .paragraph-skill{
        text-align: center;
        width:100%;
        font-size: 1em;
    }

   

    .skill-grid{
        position:relative;
        display:flex;
        padding-top:3vw;
        padding-bottom:3vw;
        width:100%;

        .heading{
            position:relative;
            writing-mode: vertical-lr;
            text-orientation: upright;
            text-align: center;
            padding-right:2.5vw;
            border-right:2px $barvaTextu solid;
        }

        .grid{
            display:grid;
            column-gap: 2vw;
            row-gap: 4vh;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding-left:4vw;
            padding-right:4vw;
            justify-items: center;
            
            .grid-item{
                transition: color .3s;
                border-radius: 2px;
                text-align: center;
                background-color: #08090a;
                padding-left:3.5vw;
                padding-right: 3.5vw;
                box-shadow: 3px 3px 5px black;

                &:hover{
                    color:$barvaOdliseni;
                    
                    
                }
            }
        }
}
    

}

