.login-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 1rem;
}

.site-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--heading-color); 
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 6rem;
    white-space: normal;
    transition: all 0.3s ease;
}

.site-title-first {
    color: var(--button-bg);
    text-shadow:
        0 0 2px var(--button-shadow),
        0 0 5px var(--button-shadow),
        0 0 10px var(--button-shadow),
        0 0 15px var(--button-shadow);
}

.login-form {
    background: rgba(255,255,255,0.06);
    padding: 1.5rem 3rem 3.5rem 3rem !important;
    width: 100%;
    max-width: 30vw;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.login-form:hover {
    box-shadow: 0 0 25px var(--button-shadow), 0 0 15px var(--button-bg);
}

.login-form h1 {
    color: var(--heading-color);
    margin-bottom: 1.55rem;
    font-size: 2rem;
    font-weight: 700;
}

.login-form input {
    width: 100%;
    padding: 0.8rem 1rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    outline: none;
    background: var(--input-bg);
    border: 1px solid var(--input-border);
    color: var(--heading-color);
    font-size: 1rem;
    box-sizing: border-box;
}

.login-form input:focus {
    outline: none;
    border-color: var(--button-bg);
    background: rgba(183, 243, 198, 0.05);
    box-shadow: 0 0 10px var(--button-shadow);
}

.login-form button {
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    border: none;
    background: var(--button-bg);
    color: var(--button-text);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.login-form button:hover {
    background: var(--button-hover);
    box-shadow: 0 0 8px var(--button-shadow), 0 0 4px var(--button-bg);
}

.login-error {
    color: var(--error-color);
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    line-height: 0.9;
    text-align: center;
}

@media (max-width: 900px) {
    .site-title {
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    .login-form {
        padding: 1rem 1rem 1rem 1rem !important;
        min-width: 90vw !important;
    }

    .login-form h1 {
        font-size: 1.6rem;
    }
}