@import "app.css";


/* --- Obecné styly --- */
.login-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* nadpis nad formulář */
    justify-content: start;
}

.login-form {
    background: var(--card-bg);
    padding: 1.5rem 3rem 3.5rem 3rem !important;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all 0.2s ease;
}
.login-form:hover {
    box-shadow: 0 0 25px var(--button-shadow), 0 0 15px var(--button-bg);
}

.login-form h1 {
    color: var(--heading-color);
    margin-bottom: 1.55rem;
    font-size: 2rem;
    font-weight: 700;
}

.login-form input {
    width: 100%;
    padding: 0.8rem 1rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--input-bg);
    color: var(--input-text);
    font-size: 1rem;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    border: none;
    background: var(--button-bg);
    color: var(--button-text);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.login-form button:hover {
    background: var(--button-hover);
    box-shadow: 0 0 8px var(--button-shadow), 0 0 4px var(--button-bg);
}

.login-error {
    color: var(--error-color);
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    line-height: 0.9;
    text-align: center;
}

.site-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--heading-color); 
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.site-title-first {
    color: var(--button-bg);
    text-shadow:
        0 0 2px var(--button-shadow),
        0 0 5px var(--button-shadow),
        0 0 10px var(--button-shadow),
        0 0 15px var(--button-shadow);
}

